h1 {
    color: #364e96;
    /*文字色*/
    padding: 0.5em 0;
    /*上下の余白*/
    border-top: solid 3px #364e96;
    /*上線*/
    border-bottom: solid 3px #364e96;
    /*下線*/
}

h2 {
    background: #c2edff;
    /*背景色*
    padding: 0.5em;
    /*文字まわり（上下左右）の余白*/
}

h3 {
    position: relative;
    padding-left: 25px;
}

h3:before {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 0;
    width: 0;
    height: 0;
    border: none;
    border-left: solid 15px transparent;
    border-bottom: solid 15px rgb(119, 195, 223);
}

h3:after {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 10px;
    width: 100%;
    border-bottom: solid 3px rgb(119, 195, 223);
}
